$color-black1: #242423;
$color-black2: #333533;
$color-grey: #e8eddf;
$color-grey-weak: #cfdbd5;
$color-main: #f5cb5c;

$color-text: $color-black2;

$font-family: -apple-system, 'ヒラギノ角ゴ ProN W3', sans-serif;

$font-size: 14px;
