$color-black1: #242423;
$color-black2: #333533;
$color-blue: #4d9de0;
$color-green: #43aa8b;
$color-grey: #e8eddf;
$color-grey-weak: #cfdbd5;
$color-orange: #ff6f59;
$color-red: #db504a;
$color-yellow: #f5cb5c;

$color-main: $color-yellow;
$color-text: $color-black2;
$color-text-weak: #aec2b8;

$font-family: -apple-system, 'ヒラギノ角ゴ ProN W3', sans-serif;

$font-size: 14px;
$font-size-large: 24px;
