@mixin screen-pc {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin screen-sp {
  @media screen and (max-width: 600px) {
    @content;
  }
}

.title-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.list {
  &__item {
    @include screen-pc() {
      display: flex;
    }
  }

  &__item-label {
    flex-shrink: 0;
    width: 150px;

    @include screen-sp() {
      font-size: 12px;
      margin-bottom: 5px;
    }

    &.isEditing {
      padding-top: 6px;
    }
  }

  &__item-body {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    white-space: pre-wrap;
  }
}
